<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>Get Data AJAX</title>
    <% include ../partials/header.ejs %>
    <script>
        // This function will get 
        function getData() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var dbObj = JSON.parse(this.responseText);
                    document.getElementById("demo").innerHTML = this.responseText;
                    //document.getElementById("demo2").innerHTML = JSON.stringify(dbObj[0]);
                    //document.getElementById("demo3").innerHTML = ("<strong>" + JSON.stringify(dbObj[1]) + "</strong>");
                    dbObj.forEach(function(element){
                        document.getElementById("demo2").appendChild(document.createTextNode(element.id));
                        document.getElementById("demo2").appendChild(document.createTextNode(element.link));
                    });
                }
            };
            xhttp.open("GET", "/getData", true);
            xhttp.send();
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Get Data</h1>
        <button type="submit" onclick="getData()">Get All Rows</button>
        <br/>
        <form action="/getAFrame" method="get">
            <button type="submit">A-Frame Test</button>
        </form>
        <br/>
        <br/>
        <div id="demo">
        </div>
        <div id="demo2">
        </div>
        <div id="demo3">
        </div>
        <form action="/postData" method="post">
            <input type="text" placeholder="Enter Name"><br/>
            <textarea rows="10" cols="50" placeholder="Enter Link to GLTF File"></textarea><br/>
            <button type="submit">Add Data</button>
        </form>
    </div>
</body>
</html>