<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>Get Data AJAX</title>
    <% include ../partials/header.ejs %>
    <script>
        function getData() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var dbObj = JSON.parse(this.responseText);
                    document.getElementById("demo").innerHTML = this.responseText;
                    document.getElementById("demo2").innerHTML = JSON.stringify(dbObj[0]);
                    document.getElementById("demo3").innerHTML = JSON.stringify(dbObj[1]);
                }
            };
            xhttp.open("GET", "/getData", true);
            xhttp.send();
        }
    </script>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <div class="container">
        <h1>Get Data</h1>
        <button type="submit" onclick="getData()">Get All Rows</button>
        <br/>
        <br/>
        <div id="demo">
        </div>
        <div id="demo2">
        </div>
        <div id="demo3">
        </div>
    </div>
</body>
</html>