<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>Get Data AJAX</title>
    <% include ../partials/header.ejs %>
    <style>
        body {
            background: #DCDCDC;
        }
    </style>
    <script>
        // This function will get the data and display it to the screen
        function getData() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var dbObj = JSON.parse(this.responseText);
                    dbObj.forEach(function(element){
                        //document.getElementById("demo").appendChild(document.createTextNode(element.id));
                        document.getElementById("modelData").innerHTML += '<div class="col-md-4 text-center" style="display: table-cell"><form action="/getAFrame" method="get">' 
                            + String(element.name) 
                            + ': ' 
                            + '<input id="link" type="text" name="link" value="' 
                            + String(element.link) 
                            + '" readonly><br/>' + 
                            '<button type="submit">Begin WebVR Experience</button></form></div><br/>';
                    });
                }
            };
            xhttp.open("GET", "/getData", true);
            xhttp.send();
        }
        // This function will post to insert data into the database
        //  https://atteneder.github.io/glTFastWebDemo/# - this is the website where free .gltf models are hosted online. 
        //  This makes it so that I don't have to worry about my app requiring any authentication from any third party apps. 
        function postData() {
            let name = document.getElementById("insert_name").value;
            let link = document.getElementById("insert_link").value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("postResponse").innerHTML = this.responseText;
                    // the page will reload and confirm by showing what was inserted in the list above
                    location.reload();
                }
            };
            xhttp.open("POST", "/postData?name=" + name + "&link=" + link, true);
            xhttp.send();
        }
    </script>
</head>
<body onload="getData()">
    <div class="container">
        <h1>WebVR App Using A-Frame</h1>
        <a href="https://atteneder.github.io/glTFastWebDemo/#" target="_blank">Click to access free .gltf models hosted online to add to the list below.</a>
        <br/><br/>
        <!--This is the div that will contain the data retrieved from the database-->
        <div class="row" id="modelData">
        </div>
        <br/><br/>
        <!--Send data via a form or send it via AJAX and just get a confirmation that it worked-->
        <div>
            <h3>Add a model to the list above</h3>
            <form action="/postData" method="post">
                <input id="insert_name" type="text" name="insert_name" placeholder="Enter Name"><br/>
                <textarea id="insert_link" rows="5" cols="50" name="insert_link" placeholder="Enter Link to GLTF File"></textarea><br/>
                <button type="button" onclick="postData()">Add New Model</button>
            </form>
        </div>
        <div id="postResponse">
        </div>
    </div>
</body>
</html>