<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script>
        function backToForm() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "/return", true);
            xhttp.send();
        }
    </script>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <div class="container">
        <h2>Postal Rate</h2>
        <p>Mail of type "<%= category%>", weighing <%= weight%> oz., will cost $<%= result%>.</p>
        <button onclick="backToForm()">Go Back to Form</button>
        <a href="/">Back</a>
    </div>
</body>
</html>