<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <title>Postal Form</title>
    <script>
        function revealZone() {
            var category = document.getElementById("mailtype");
            var selected = category.options[category.selectedIndex].value;
            if (selected == "First-Class Package Service—Retail") {
                document.getElementById("zone").style.display = "inline";
                document.getElementById("zone_text").style.display = "inline";
            } else {
                document.getElementById("zone").style.display = "none";
                document.getElementById("zone_text").style.display = "none";
            }
        }
        function checkWeight() {
            var category = document.getElementById("mailtype");
            var selected = category.options[category.selectedIndex].value;
            var weight = document.getElementById("weight").value;
            if (selected == "Letters (Stamped)" || selected == "Letters (Metered)") {
                if (weight > 3.5) {
                    document.getElementById("weight_err").innerHTML = "Error: weight must be 3.5 oz. or less!";
                    return false;
                } else {
                    document.getElementById("weight_err").innerHTML = "";
                    return true;
                }
            } else if (selected == "Large Envelopes (Flats)" || selected == "First-Class Package Service—Retail") {
                if (weight > 13) {
                    document.getElementById("weight_err").innerHTML = "Error: weight must be 13 oz. or less!";
                    return false;
                } else {
                    document.getElementById("weight_err").innerHTML = "";
                    return true;
                }
            }
        }
    </script>
</head>
    
<body onload="revealZone()">
    <h1>Postal Rate Calculator</h1>
    <form action="/postal" method="get" onsubmit="return checkWeight()">
        <span>Type: </span><br/>
        <select id="mailtype" name="category" onchange="revealZone()">
            <option value="Letters (Stamped)">Letters (Stamped)</option>
			<option value="Letters (Metered)">Letters (Metered)</option>
			<option value="Large Envelopes (Flats)">Large Envelopes (Flats)</option>
			<option value="First-Class Package Service—Retail">First-Class Package Service—Retail</option>
		</select>
        <br/><br/>
        <span>Weight: </span><br/>
		<input id="weight" type="text" name="weight" onchange="checkWeight()">
        <span>oz. </span><span id="weight_err" style="color: darkred"></span>
        <br/><br/>
        <span id="zone_text" style="display: none">Zone: </span><br/>
        <select id="zone" name="zone" style="display: none">
            <option>1</option>
            <option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
		</select>
        <br><br/>
        <button type="submit">Submit</button>
    </form>
</body>

</html>