<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <title>Postal Form</title>
</head>
    
<body>
    <h1>Postal Rate Calculator</h1>
    <form action="/postal" method="get">
        <span>Type: </span>
        <select name="category">
            <option>Letters (Stamped)</option>
			<option>Letters (Metered)</option>
			<option>Large Envelopes (Flats)</option>
			<option>First-Class Package Service—Retail</option>
		</select>
        <br/>
        <span>Weight: </span>
		<input type="text" name="weight">
        <span>oz.</span>
        <!--Might add a zone field later for the first-class packages-->
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>