<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <div class="container">
        <h2>Postal Rate</h2>
        <p>Mail of type "<%= category%>", weighing <%= weight%> oz., will cost $<%= result%>.</p>
        <a href="/">Back</a>
    </div>
</body>
</html>